<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>

    <h1>Jornadas cine de verano, del 9 de agosto al 10 de septiembre</h1>
    
    <a href="/auth/register">Registro</a>
    <a href="/auth/login">Login</a>
    
    <hr>
    {{#each movies}}
        <h2>
          <a href="/{{_id}}">{{title}}</a>
        </h2>
        <h2>Año {{year}}</h2>
        <h3>Director: {{director}}</h3>
        <h3>Reparto: {{actors}}</h3>
        <h3>País: {{country}}</h3>
        <h3>Duración: {{duration}}</h3>
        <h3>Género: {{gender}}</h3>
        <p>Resumen: {{summary}}</p>

        <hr/>

    {{/each}}  

</body>
</html>